<br>
<div class="row">
    <div class="small-12 columns">
        <h1>New server</h1>
        <p class="subheader">Register a new application server.</p>
    </div>
</div>


<div class="row column">
    <hr>
</div>

<div class="row small-up-1 medium-up-2 large-up-3">
    <form ng-submit="addServer()">
        <div class="small-12 medium-8 columns">
            <label>Description
                <textarea placeholder="Briefly describe this server." ng-model="form.description" required></textarea>
            </label>
        </div>
        <div class="small-12 medium-4 columns">
            <label>Server type
                <select ng-model="form.serverType" required>
                    <option value="">Choose one</option>
                    <option value="TOMCAT">Tomcat</option>
                    <option value="WILDFLY">Wildfly</option>
                </select>
            </label>
        </div>

        <div class="small-12 medium-8 columns">
            <label>Hostname or IP
                <input type="text" placeholder="host.domain.com" ng-model="form.host" required>
            </label>
        </div>
        <div class="small-12 medium-4 columns">
            <label>Port number
                <input type="number" placeholder="9990" ng-model="form.port" required>
            </label>
            <p class="help-text">Usually 9990 for JBoss/Wildfly and 8080 for Tomcat.</p>
        </div>

        <div class="small-12 medium-6 columns">
            <label>Username
                <input type="text" placeholder="" ng-model="form.username">
            </label>
            <p class="help-text">Management/JMX user. For Tomcat, this user needs the 'manager-script' role.</p>
        </div>
        <div class="small-12 medium-6 columns">
            <label>Password
                <input type="text" placeholder="" ng-model="form.password">
            </label>
        </div>

        <div class="small-12 columns">
            <a href="javascript:history.back(1);" class="hollow button">Cancel</a>
            <button type="submit" class="button">Save</button>
        </div>
    </form>
</div>