<br>
<div class="row">
    <div class="small-12 columns">
        <h1>New user</h1>
        <p class="subheader">Add a new user who can manage the system.</p>
    </div>
</div>


<div class="row column">
    <hr>
</div>

<div class="row small-up-1 medium-up-2 large-up-3">
    <form ng-submit="addServer()">
        <div class="small-12 medium-6 columns">
            <label>Username
                <input type="text" ng-model="form.username" required>
            </label>
        </div>
        <div class="small-12 medium-6 columns">
            <label>Password
                <input type="password" ng-model="form.password" required>
            </label>
        </div>

        <div class="small-12 columns">
            <label>Full name
                <input type="text" ng-model="form.fullname" required>
            </label>
        </div>

        <div class="small-12 columns">
            <a href="javascript:history.back(1);" class="hollow button">Cancel</a>
            <button type="submit" class="button">Save</button>
        </div>
    </form>
</div>